.box{
    background-color: transparent;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}
.box .technologies{
    background-color: #FFFFFF;
    /*width: 120rem;*/
    height: 34.375rem;
    /*position: relative;*/
}
.box .title{
    /*width: 50.5rem;*/
    /*left: 24.75rem;*/
    /*top: 5.62rem;*/
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    margin: auto;
}
.box .p{
    color: #1F1733;
    text-align: center;
    font-family: "Poppins",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
    display: flex;
    margin: auto;
    padding-top: 5.63rem;
}
.box .ptext{
    color: #1F1733;
    text-align: center;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.box .img{
    width: 79.375rem;
    height: 12.375rem;
    /*position: absolute;*/
    /*left: 10.31rem;*/
    /*top: 19.94rem;*/
    align-items: center;
    display: flex;
    gap: 4.75rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6.94rem;
}
