.box{
    background-color: transparent;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}
.box .teachers{
    background-color: #F6F5FF;
    /*width: 120rem;*/
    height: 53.75rem;
    /*position: relative;*/
}
.box .title{
    /*width: 18.75rem;*/
    height: 5.625rem;
    /*position:absolute;*/
    /*left: 40.56rem;*/
    /*top: 5rem;*/
}
.box .rectangle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem;
    gap: 1.25rem;
}
.box .text{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.box .text1{
    color:#693CDE;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0775rem;
    text-transform: uppercase;
    text-align: center;
}
.box .rectangle1{
    border-radius: 0.5rem;
    border: 1px solid #F0EAFF;
    background:#FFFFFF;
    width: 25.625rem;
    height: 31.4375rem;
    /*left: 10.25rem;*/
    /*top: 15.81rem;*/
    /*position: absolute;*/
}
.box .img{
    border-radius: 0.3125rem 0.3125rem 0rem 0rem;
    background: #E4DCF9;
    /*width: 24.875rem;*/
    /*height: 24.9375rem;*/
    /*left: 0.37rem;*/
    /*top: 0.38rem;*/
    /*position: absolute;*/
    display: flex;
    margin: auto;
}
.box .text2{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.045rem;
    /*left: 8.19rem;*/
    /*top: 25.81rem;*/
    /*position: absolute;*/
}
.box .text3{
    color: #696477;
    text-align: center;
    font-family: "Poppins-light";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035rem;
    /*left: 10.31rem;*/
    /*top: 27.63rem;*/
    /*position: absolute;*/
}

.box .icon{
    width: 4.75rem;
    height: 0.4375rem;
    /*position: absolute;*/
    /*left: 47rem;*/
    /*top: 49.88rem;*/
    display: flex;
    justify-content: center;
    margin: auto;
}

