.box{
    background-color: transparent;
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
}
.box .events{
    height: 60.0675rem;
    display: flex;
    flex-direction:column;
    margin: auto;
    /*width: 120rem;*/
    /*position:relative;*/
}
.box .overlap{
    /*width: 79.4375rem;*/
    /*height: 35.9375rem;*/
    display: flex;
    flex-direction: column;
    /*left: 10.31rem;*/
    /*top: 6.25rem;*/
    /*position: absolute;*/
}
.box .title{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    /*width: 17.875rem;*/
    /*height: 5.625rem;*/
    /*position: absolute;*/
    /*left:30.81re/m;*/
    /*top: 0rem;*/
}
.box .text{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.box .text1{
    color:#693CDE;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0775rem;
    text-transform: uppercase;
    text-align: center;
}
.box .rectangle{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    gap: 1.25rem;
}
.box .rectangle1{
    border-radius: 0.9375rem;
    border: 1px solid #F5F2FF;
    background: #FBFAFF;
    width: 39.0625rem;
    height: 8.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    /*position: absolute;*/
    /*top: 10rem;*/
    /*left: 0.06rem;*/
}
.box .textBox{
    display: flex;
    flex-direction: column;

}
.box .img{
    border-radius: 0.625rem;
    background: #FFFFFF;
    width: 7.625rem;
    height: 7.625rem;
    display: flex;
    margin: 1rem;
    flex-direction: row;
    /*left: 0.62rem;*/
    /*top: 0.62rem;*/
    /*position: absolute;*/
}
.box .text2{
    color: #000;
    font-family: "Poppins-bold";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.045rem;

    /*left: 9.5rem;*/
    /*top: 1.88rem;*/
    /*position: absolute;*/
}
.box .icon2{
    width: 1rem;
    height: 1rem;
    /*position: absolute;*/
    /*left: 9.5rem;*/
    /*top: 5.81rem;*/
}
.box .cal{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.box .icon1{
    stroke-width: 3px;
    stroke:#693CDE;
    width: 1rem;
    height: 1.5rem;
    /*left: 35.75rem;*/
    /*top: 3.94rem;*/
    /*position:relative;*/
}
.box .date{
    color:#696477;
    font-family: "Poppins-light";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035rem;
    /*left: 10.94rem;*/
    /*top: 4.9rem;*/
    /*position: absolute;*/
}
.box .rectangle2{
    border-radius: 0.9375rem;
    border: 1px solid #F5F2FF;
    background: #FBFAFF;
    width: 39.0625rem;
    height: 8.875rem;
    /*position: absolute;*/
    /*top: 10rem;*/
    /*left:40.38rem;*/
}

.box .btn2{
    border-radius: 0.5rem;
    background:#693CDE;
    width: 12.5rem;
    height: 3.1875rem;
    /*left: 33.44rem;*/
    /*top: 32.75rem;*/
    /*position: absolute;*/
    border: none;
    color:#FFFFFF;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.035rem;
    justify-content: center;
    display: flex;
    margin:auto;
    align-items: center;
}
