.box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.box .events {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.box .overlap {
    display: flex;
    flex-direction: column;
}

.box .title {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.box .text {
    color: #1F1733;
    text-align: center;
    font-family: "Poppins", Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0675rem;
}

.box .text1 {
    color: #693CDE;
    font-family: "Poppins-bold", Helvetica;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0775rem;
    text-transform: uppercase;
    text-align: center;
}

.box .rectangle {
    padding: 15px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
}

.box .rectangle1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F5F2FF;
    width: 500px;
    border-radius: 0.9375rem;
    background: #FBFAFF;
    margin: auto;
}

.box .textBox {
    display: flex;
    flex-direction: column;

}

.box .img {
    border-radius: 0.625rem;
    background: #FFFFFF;
    width: 7.625rem;
    height: 7.625rem;
    display: flex;
    margin: 1rem;
    flex-direction: row;
}

.box .text2 {
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.045rem;
}

.box .icon2 {
    width: 1rem;
    height: 1rem;
}

.parent_img {
    padding: 2rem;
}

.box .cal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.box .icon1 {
    color: #693CDE;
    font-size: 1.6rem;
}

.box .date {
    color: #696477;
    font-family: "Poppins-light";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035rem;
}

.box .rectangle2 {
    border-radius: 0.9375rem;
    border: 1px solid #F5F2FF;
    background: #FBFAFF;
    width: 39.0625rem;
    height: 8.875rem;
}

.box .btn2 {
    border-radius: 0.5rem;
    background: #693CDE;
    width: 12.5rem;
    height: 3.1875rem;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.035rem;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
}