.box{
    background-color: transparent;
    display:grid;
    /*flex-direction: column;*/
    width: 100%;
    justify-content: center;
}
.box .Transform{
    background-color: #FFFFFF;
    height:36.07rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    gap: 4.75rem;
}
.box .first{
    display: grid;
    justify-items: flex-end;
}
.box .im{
    border-radius: 2.5rem;
    background: #C4C4C4;
    width: 37.1875rem;
    height: 23.8125rem;
}
.box .rectangle{
    border-radius: 3.125rem 0rem;
    background: #E1DEFF;
    width: 37.1875rem;
    height: 23.8125rem;
    position: absolute;
}
.box .textBox{
    display:grid;
    /*flex-direction: column;*/
    align-content: center;
    justify-content: center;
    margin: auto;
}
.box .text{
    width: 34.375rem;
    color:#1F1733;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07rem;

}
.box .text2{
    color:#696477;
    font-family: "Poppins-light",Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04rem;
}
.box .btn {
    border-radius: 0.5rem;
    background: #693CDE;
    width: 12.5rem;
    height: 3.625rem;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-semiBold", Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04rem;
    border: none;
}