.box{
    background-color: transparent;
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 100%;
}
.box .future{
    padding: 0 0 6rem 0;
    background: #FFFFFF;
}
.box .text1{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.box .text2{
    color:#693CDE;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0775rem;
    text-transform: uppercase;
    text-align: center;
}
.box .rectangle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: center;
}
.box .rectangle1{
    width: 18.9375rem;
    height: 21rem;
    border-radius: 1.25rem;
    background: #EDFAFF;
}
.box .icon{
    width: 6rem;
    height: 6rem;
    display: flex;
    margin: auto;
    padding-top:2rem;
}
.box .text3{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.box .text4{
    width: 15.6875rem;
    color: #696477;
    text-align: center;
    font-family: "Poppins-light";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0175rem;
    display: flex;
    margin:1rem;

}
.box .btn{
    border-radius: 0.5rem;
    background:#1F1733;
    width: 10.4375rem;
    height: 3.125rem;
    color:#FFFFFF;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.035rem;
}

.box .btn2 {
    border-radius: 0.5rem;
    background: #FFFFFF;
    width: 10.4375rem;
    height: 3.125rem;
    border: none;
    color: #1F1733;
    text-align: center;
    font-family: "Poppins-bold";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.035rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

