.box{
    background: transparent;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}

.box .header{
    background-color: #FFFFFF;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 6rem 0 6rem;
}
.box .logo{
    height: 3.25rem;
    width: 14.8125rem;
}
.box .navbar{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    margin: auto;
}
.box .drop{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.box .home{
    color: #693CDE;
    font-family: 'Poppins';
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08125rem;
}
.box .text{
    color: #1F1733;
    font-family: 'Poppins';
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08125rem;
}
.box .phone{
    display: flex;
    margin: auto;
    gap: 1rem;
}
.box .text{
    color: #1F1733;
    font-family: 'Poppins';
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08125rem;

}
.box .btn{
    border-radius: 0.5rem;
    background:#693CDE;
    width: 10rem;
    height: 2.875rem;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0525rem;
}

