.box{
    background-color: transparent;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}
.box .courses{
    background-color: #FFFFFF;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.box .textBox{
    text-align:center;
}
.box .text{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins-Medium",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.box .textWrapper{
    color: #693CDE;
    font-family: "Poppins-Extrabold",Helvetica;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0775rem;
    text-transform: uppercase;
}
.box .rectangle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.69rem;

}
.box .diImg{
    width: 23.625rem;
    margin: auto;
    display: flex;
    height: 19.562rem;
}
.box .discount{
    background-color: #FFA825;
    border-radius: 0.5rem;
    width: 5.375rem;
    height: 2.1875rem;
    /*left: 17rem;*/
    /*top: 16.38rem;*/
    /*position: absolute;*/
}
.box .text2{
    color:#FFFFFF;
    font-family: "Poppins-italic",Helvetica;
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0325rem;
    text-decoration:line-through;
    /*position: absolute;*/
    /*left: 0.5rem;*/
    /*top: 0.5rem;*/
}
.box .text3{
    color: #FFFFFF;
    text-align: right;
    font-family: "Poppins-semiBold",Helvetica;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.045rem;
    /*left: 2.25rem;*/
    /*top: 0.25rem;*/
    /*position: absolute;*/
}

.box .text4{
    color:#FFFFFF;
    font-family: "Poppins-italic",Helvetica;
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0325rem;
    text-decoration:line-through;
    /*left: 0.63rem;*/
    /*top: 0.5rem;*/
    /*position: absolute;*/
}
.box .text5{
    color:#FFFFFF;
    text-align: right;
    font-family: "Poppins-semiBold",Helvetica;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.045rem;
    /*left: 2.13rem;*/
    /*top: 0.25rem;*/
    /*position: absolute;*/
}
.box .guid{
    background-color: #FFFFFF;
    border: 1px solid #EDEBF3;
    border-radius: 0.5rem;
    width: 23.625rem;
    height: 29rem;
}
.box .text6{
    color:#1F1733;
    text-align: center;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.045rem;
    display: flex;
    margin:1rem;
    justify-content: center;

}
.box .text7{
    color:#696477;
    text-align: center;
    font-family: "Poppins-light",Helvetica;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035rem;
    display: flex;
    justify-content: center;
    margin: 1rem;

}
.box .btn{
    background-color: #693CDE;
    border: 1px solid #693CDE;
    border-radius: 0.5rem;
    width: 13.125rem;
    height: 3.1875rem;
    font-size: 0.875rem;
    font-family: "Poppins-semiBold",Helvetica;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.035rem;
}


.box .btn2{
    background-color: #FFFFFF;
    border:1px solid #693CDE;
    border-radius: 0.5rem;
    width: 13.125rem;
    height: 3.1875rem;
    color: #693CDE;
    font-weight: 600;
    font-family:"Poppins-bold",Helvetica;
    letter-spacing:0.035rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.box .success{
    width: 76.3125rem;
    border-radius: 0.5rem;
    height: 9.3125rem;
    display: flex;
    margin: auto;
    align-items: center;
    background: linear-gradient(270deg, #403954 33%, rgba(64, 57, 84, 0.00) 100%);

}
.box .img{
    background-color:#403953;
    border-radius: 0.5rem;
    height: 9.3125rem;
    display: flex;
    opacity: 0.9;
    margin: auto;
}

.box .text12{
    color:#FFFFFF;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0675rem;
    display: flex;
    margin: auto;
}



