.box {
    background-color: transparent;
    justify-content: center;
    width: 100%;
}
.box .container{
    height: 12.25rem;
    width: 79.35rem;
    background-color: #693CDE;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.box .text{
    color:#FFF;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075rem;
    align-self: center;
    padding-left: 3rem;
}
/*.box .button{*/
/*    padding-left: 11.5rem;*/
/*}*/
.box .btn{
    width: 16.875rem;
    height: 4.1875rem;
    border-radius: 0.5rem;
    background:#0DCC7C;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-bold",Helvetica;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.045rem;
}
.box .footer{
    height: 37.75rem;
    background-color: #F8F8FF;
}